*{
    font-family: 'Poppins', sans-serif;
    
}
.bx{
    color: rgb(34, 32, 32);
    font-size: 25px;
}
.bx:first-child:hover{
    color: rgb(0, 0, 0);

    
}
.bx-share:first-child:hover{
    color: rgba(110, 110, 252, 0.801);

}
.bxs-home-circle{
    font-size: 40px;
}
.bx-heart:first-child:hover{
    color: red;
}

